<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${user.name}"/>
    <p th:text="${user.age}"/>
    <ul th:each="hobby : ${user.hobbies}" >
        <li th:text="${hobby}">
    </ul>

    <div th:if="${user.age >= 18}">
        <p th:text="${user.name + ' es mayor de edad porque tiene ' + user.age + ' años'}"></p>
    </div>
    <div th:unless="${user.age >= 18}">
        <p th:text="${user.name + ' es menor de edad porque tiene ' + user.age + ' años'}"></p>
    </div>
</body>
</html>